$smartphone: 700px;

$ipadmax:700px; $ipadmin: 1150px;   //ancienne valuer de ipamin : 1001

//Note :  en desosus de 520 pixels, il y a un problème d'affichage

$ipadmax:700px; $ipadmin: 1001px;
$ecranlarge : 3000px; 

$ipadmaxmenu:1500px; //pour typo menu

$minHeight:700px;
$color-1 : rgb(22, 20, 20);

$color-2 : rgb(245, 237, 237);
$color-3 : rgb(19, 22, 210);
$color-4 : rgb(19, 22, 210);
$color-5 : rgb(26, 27, 29);
$borderRadius : 20px;
$font-2 : 20px;
$white : white;
$shadow :  0.5px 0.5px rgb(77, 58, 244), -0.3em 0 0.2em black;